// colors
$primary:                   #E06515;
$secondary:                 #000000!default;
$gray-600:                  #6c757d !default;
$secondary:                 $gray-600 !default;



// typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$headings-font-family:        'Poppins', sans-serif;

$headings-font-style:         700;


$font-sans-serif:             'Poppins', sans-serif !important;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$h1-font-size:                $font-size-base * 2.5!important;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$lead-font-size:              $font-size-base * 1.25;
$lead-font-weight:            300;
$small-font-size:             .875em;
$sub-sup-font-size:           .75em;


//botones
$gray-900:                  #212529 !default;
$body-color:                $gray-900 !default;
$variable-prefix:           bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                    $variable-prefix !default;
$btn-color:                 var(--#{$prefix}body-color) !default;

$input-btn-font-family:       'Poppins', sans-serif !important;
$input-font-family:           $input-btn-font-family !default;
$btn-font-family:             $input-btn-font-family !default;

//link
$link-color:                $primary !default;
$link-decoration:           underline !default;

@import "bootstrap.scss";